.App {
 padding: 10px;
 display: flex;
 flex-direction: column;
 height: 100vh;
 .Search {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .Cards {
  height: 50%;
 }
}
